---
interface Props {
	title: string;
	description?: string;
}
const { title, description } = Astro.props as Props;
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from '../components/About.astro';
import Projects from "../components/Projects.astro";
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'

---

<html lang="es" >
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body class="bg-white dark:bg-gray-900">
		<Navbar />
		<main class="">
			<Hero />
			<Projects />
			<About />
			<Contact />
		</main>
		<Footer />
	</body>
</html>

<style>
	html{
		scroll-behavior: smooth;
	}
</style>