---
import Section from "./Section.astro";
---

<Section id="about" title="Sobre mi">
  <div class="grid grid-cols-1 lg:grid-cols-2 md:gap-8 md:w-3/4 mx-auto">
    <div class="md:float-start md:clear-both"><img src="/about.jpg" alt="" /></div>
    <div class="px-2 ">
      <p class="my-4 text-lg dark:text-white  ">
        Me llamo Jennifer López, anteriormente me dedicaba a la atencion al
        cliente y me pasé al desarrollo web
      </p>
      <p class="my-4 text-lg dark:text-white  ">
        He dedicado los ultimos años a aprender diversos ambitos de la informática
        como herramientas relacionadas con la administración, pero no empecé a
        insteresarme por el <strong class="font-normal">desarrollo web</strong> hasta 2022
      </p>
      <p class="my-4 text-lg dark:text-white  ">
        Empecé a formarme con <a href="">FreeCodeCamp </a>y desde entonces he
        pasado por varios centros de formación aprendiendo diversas tecnologias
        estando siempre actualizada en el ambito tecnológico
      </p>
      <p class="my-4 text-lg dark:text-white   ">
        He participado en proyectos en grupo, lo que me ha permitido enriquecerme
        y aprender de mis compañeros y de mentores con gran expercia en <a href=""
          >Itacademy</a
        > desde entonces me dedico a buscar soluciones tecnológicas tanto en el ambito
        del <strong class="font-normal">Cliente</strong> y actualmente tambien en el del <strong class="font-normal"
          >servidor</strong
        >
      </p>
    </div>
  </div>
</Section>
