<button id="burgerBtn"  class="w-8 p-1 h-7 flex flex-col justify-between items-center md:hidden">
  <span class="w-full h-1 bg-gray-900 rounded dark:bg-gray-50"></span>
  <span class="w-full h-1 bg-gray-900 dark:bg-gray-50 rounded"></span>
  <span class="w-full h-1 bg-gray-900 dark:bg-gray-50 rounded"></span>
</button>