
<div class="flex flex-col items-center justify-center gap-4 pt-8">
  <h1 class="text-4xl text-center text-gray-900 dark:text-white/90">Jennifer Lopez</h1>

  <h2 class="bg-orange-300 px-2 py-1 rounded-full mx-auto text-lg">
    <a class=" 
    dark:text-gray-900" href="#contact">Creando aplicaciones desde 2022</a>
  </h2>
  <a class="bg-orange-300 px-2 py-1 rounded-full mx-auto text-lg" href="/Jennifer López.pdf">Descarga mi CV</a>
</div>
