---
interface Props {
  id:string;
  title:string;
}
const{id,title} = Astro.props as Props
---
<section id={id} class="my-8 px-2 ">
  <h2 class="text-3xl text-center text-gray-900 dark:text:white/90 my-8">{title}</h2>
  <slot/>
</section>